<!DOCTYPE html>
<html>
<head>
    <title>Getting All Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Getting All Data:</h1>
<h6><% cityData.forEach(function(element){%>
    <br><%= JSON.stringify(element)%></br>
    <%});%>
</h6>
<ul class="nav navbar-nav">
    <li><a href="/">Back-></a></li>
</ul>
</body>
</html>
