<!DOCTYPE html>
<html>
    <head>
        <title><%= city %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>City: <%= city %></h1>
        <p>Weather</p>
        <h4><%= cityData %></h4>
        <ul class="nav navbar-nav">
            <li><a href="/">Back-></a></li>
        </ul>
    </body>
</html>
