<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
<body>
<h1><%= title %></h1>
<h4><%= subTitle %></h4>
<pre>
    <p><%= subMessage %></p>
</pre>
<ul class="nav navbar-nav">
    <li><a href="/DataBase/1">Init DataBase-></a></li>
    <li><a href="/DataBase/2">Delete DataBase</a></li>
    <li><a href="/">Back-></a></li>
</ul>
</body>
</html>
