<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Welcome to <%= title %></h1>
<ul class="nav navbar-nav">
    <li><a href ="/DataBase/0"> Init DataBase -> </a></li>
    <li><a href ="/api/getWeather/Kiev,UA"> Get city weather -> </a></li>
    <li><a href ="/latest_data/1"> Get data field -> </a></li>
    <li><a href ="/api/all_history"> All History -> </a></li>
</ul>
</body>
</html>
