<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<h1>Getting Data:</h1>

<p>ID: <%= entry.id %></p>
<h2>City: <%= entry.city %></h2>
<h3>Date: <%= entry.date  %></h3>
<p>Weather</p>
<h4><%= JSON.stringify(entry.data) %></h4>
</body>
</html>
